/* Color Settings */
$_bdBg: #e3e5e6;
$_logoBg: #333b43;

body {
    background: $_bdBg;
    font-size: 14px;
}

.topbar {
    background: #fff;
    -webkit-box-shadow: 0px 10px 92px -24px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 10px 92px -24px rgba(0,0,0,0.55);
    box-shadow: 0px 10px 92px -24px rgba(0,0,0,0.55);
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    z-index: 1;

    .columns {
        padding: 10px;
    }

    .logo-holder {
        background: $_logoBg;
        text-align: center;

        .mob-menu {
            display: none;
            transition: all 0.5s ease;
        }
    }

    .notifications {
        padding-top: 5px;

        div {
            display: inline;
            padding: 10px;
            position: relative;

            span.notify {
                position: absolute;
                height: 25px;
                width: 25px;
                text-align: center;
                padding: 0px 3px 3px 3px !important;
                border-radius: 50%;
                right: 0;
                top: 0;
            }

            .noti-icon {
                color: $_logoBg !important;
                font-size: 22px;
            }
        }
    }
}

.sidebar-menu-holder {
    padding-top: 70px !important;
    height: 100%;
    position: fixed;

    .sidebar-menu {
        background: #5d6882;
        height: 100%;

        .user-holder {
            background: rgb(72,85,99);
            background: -moz-linear-gradient(left, rgba(72,85,99,1) 0%, rgba(41,50,60,1) 100%);
            background: -webkit-linear-gradient(left, rgba(72,85,99,1) 0%,rgba(41,50,60,1) 100%);
            background: linear-gradient(to right, rgba(72,85,99,1) 0%,rgba(41,50,60,1) 100%);
            width: 100%;
            padding: 10px;

            .user-dp {
                height: 50px;
                width: 50px;
                border-radius: 50%;
                background: #fff;
            }

            .user-name,
            .user-email {
                margin-top: -12px;
                color: #fff;
                font-size: 12px;
                text-transform: uppercase;
                margin-bottom: -12px;
            }

            .user-name {
                font-weight: 800;
                font-size: 14px;
            }

            .user-links {
                padding: 5px;
                border-radius: 5px;
                width: 40px;
                transition: all 0.5s ease;

                &:hover {
                    background: #5d6882;
                    color: #333b43 !important;
                }
            }
        }

        .menu-container {
            height: 100%;
            overflow-y: scroll;
            padding-bottom: 60px;

            &::-webkit-scrollbar {
                width: 5px;
            }

            &::-webkit-scrollbar-track {
                background: rgba(0,0,0,0.3);
                width: 5px;
            }

            &::-webkit-scrollbar-thumb {
                background: #29323c;
                width: 5px;
            }

            ul.menu-holder {
                padding-bottom: 100px;

                li {
                    text-transform: uppercase;
                    color: #29333d;
                    border-top: 1px solid #29333d;
                    border-bottom: 1px solid #29333d;
                    margin-top: -1px;
                }
                li.menu-label {
                    font: 800 12px 'Open Sans', sans-serif;
                    padding: 7px 15px;
                }

                li.menu-item {
                    font: 800 14px 'Open Sans', sans-serif;
                    padding: 10px 15px;
                    transition: all 0.5s ease;

                    i {
                        color: #29333d;
                        transition: all 0.5s ease;
                    }

                    &.active, &:hover {
                        background: #29323c;
                        color: #a1b7eb;

                        i {
                            color: #a1b7eb;
                        }
                    }

                    .arrow {
                        transition: all 0.5s ease;
                    }

                    .rotate {
                        transform: rotate(90deg);
                    }

                    ul.sub-menu {
                        background: #1a2026;
                        height: auto;
                        left: 0;
                        top: 0;
                        width: calc( 100% + 30px);
                        margin-left: -15px;
                        padding: 0px 30px;

                        li {
                            border: none;
                            color: #62739a;
                            position: relative;
                            padding: 5px 20px;
                            font: 600 12px 'Open Sans', sans-serif;
                            transition: all 0.5s ease;

                            &:hover {
                                color: #a1b6e7;
                                &::after {
                                    background: #a1b6e7;
                                }
                            }

                            &:first-child {
                                padding-top: 20px;

                                &::after {
                                    left: 0;
                                    top: 70%;
                                }
                            }

                            &:last-child {
                                padding-bottom: 20px;
                                &::after {
                                    left: 0;
                                    top: 30%;
                                }
                            }

                            &::after {
                                content: " ";
                                width: 10px;
                                height: 10px;
                                border-radius: 50%;
                                left: 0;
                                top: 50%;
                                margin-top: -5px;
                                background: #29323c;
                                position: absolute;
                                transition: all 0.5s ease;
                            }

                            &::before {
                                content: ' ';
                                border-left: 2px solid #29323c;
                                height: 100%;
                                position: absolute;
                                left: 4px;
                                top: 0;
                            }
                        }

                    }
                }
            }
        }
    }

    hr {
        background: #29333d;
        border: none;
        height: 1px;
        width: 100%;
        margin: 0;
    }
}

.main-content {
    padding-top: 100px;
}

.panel {
    width: 100%;
    background: #fff;
    border: 1px solid #d5d5d5;
    position: relative;
    margin-bottom: 50px;

    .panel-header {
        padding: 10px;
        border-bottom: 1px solid #d5d5d5;

        .panel-title {
            font: 600 18px 'Open Sans', sans-serif;
            margin: 0px !important;
            text-transform: uppercase;
        }

        .panel-sub {
            font: 400 12px 'Open Sans', sans-serif;
            text-transform: uppercase;
            line-height: 3%;
        }
    }

    .panel-content {
        padding: 15px;
    }

    .panel-footer {
        padding: 5px;
        border-top: 1px solid #d5d5d5;
    }
}

ul.user-timeline {
    li.timeline-item {
        padding-left: 60px;
        position: relative;
        padding-bottom: 20px;

        &[data-color=red] {
            &:after {
                background: #bf3939;
            }
        }

        &[data-color=yellow] {
            &:after {
                background: #ffdc3d;
            }
        }

        &[data-color=blue] {
            &:after {
                background: #5b97d9;
            }
        }

        .timeline-title {
            font: 400 14px 'Open Sans', sans-serif;
            line-height: 3%;
            padding-top: 20px;
        }

        .timeline-sub {
            margin-top: -10px;
            font-size: 12px;

            small {
                color: #a2a2a2;
                font-size: 10px;
                text-transform: uppercase;
                i {
                    color: #a2a2a2;
                    margin-right: -5px;
                }
            }

            ul.timeline-list {
                &.inline {
                    margin-left: -10px;

                    li {
                        display: inline-block !important;
                        overflow: hidden !important;
                        width: 100px;

                        &:last-child {
                            clear: both;
                        }

                        img {
                            max-width: 100%;
                            border-radius: 10px;
                        }

                        &:after {
                            content: ' ' !important;
                        }
                    }
                }

                li {
                    padding-left: 10px;
                    position: relative;
                    margin-bottom: -10px;

                    &:after {
                        font-family: "entypo"; text-decoration: none; zoom: 1;
                        position: absolute;
                        left: 0;
                        top: 0;
                        content: '';
                        color: #5b97d9;
                    }
                }
            }
        }


        &:after {
            font-family: "entypo"; text-decoration: none; zoom: 1;
            text-align: center;
            padding: 5px 10px;
            position: absolute;
            content: attr(data-content);
            left: 0;
            top: 0;
            height: 30px;
            width: 20px;
            border-radius: 50%;
            background: #000;
            color: #fff;
            font-size: 20px;
        }

        &:before {
            width: 1px;
            height: 100%;
            top: 0;
            content: ' ';
            position: absolute;
            left: 20px;
            background: #d5d5d5;
        }

        &:last-child {
            &:before {
                padding-bottom: 20px;
            }
        }
    }
}

/* Table */
table {
    border: none;
    tr {
        border: none;
        td {
            vertical-align: middle;
            border: none;
            padding: 0px 5px;
        }
    }
}

a {
    color: #71a5de;
}
i {
    color: #fff;
}

.notify {
    padding: 3px 5px;
    border-radius: 50%;
    background: #9f1d1d;
    font-size: 9px;
    color: #fff;
}

.cs-label {
    color: #a1a1a1;
    font-size: 14px;
}

.cs-value {
    color: #333b43;
    font-size: 14px;
}


/* Mobile */

@media only screen and (max-width: 768px) {

    .main-content {
        padding: 20px;
    }

    .topbar {
        background: $_logoBg !important;
        position: relative;
        z-index: 99;

        .notif-holder {
            display: none;
        }

        .logo-holder {
            .mob-menu {
                display: block;
                font-size: 32px;
                margin-top: 10px;
                float: right;

                &.active {
                    color: #91a5d4;
                }
            }
        }
    }

    .sidebar-menu-holder {
        position: absolute;
        height: auto ;
        top: 0px;
        display: none;
        z-index: 9;

        .sidebar-menu {
            height: auto;
            border-bottom-left-radius: 5px;
            border-bottom-left-radius: 5px;

            .menu-container {
                padding-bottom: 0px !important;

                ul.menu-holder {
                    padding-bottom: 0px !important;
                }
            }
        }
    }
}
