@charset "UTF-8";
/* Color Settings */
body {
  background: #e3e5e6;
  font-size: 14px;
}

.topbar {
  background: #fff;
  -webkit-box-shadow: 0px 10px 92px -24px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: 0px 10px 92px -24px rgba(0, 0, 0, 0.55);
  box-shadow: 0px 10px 92px -24px rgba(0, 0, 0, 0.55);
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
}

.topbar .columns {
  padding: 10px;
}

.topbar .logo-holder {
  background: #333b43;
  text-align: center;
}

.topbar .logo-holder .mob-menu {
  display: none;
  transition: all 0.5s ease;
}

.topbar .notifications {
  padding-top: 5px;
}

.topbar .notifications div {
  display: inline;
  padding: 10px;
  position: relative;
}

.topbar .notifications div span.notify {
  position: absolute;
  height: 25px;
  width: 25px;
  text-align: center;
  padding: 0px 3px 3px 3px !important;
  border-radius: 50%;
  right: 0;
  top: 0;
}

.topbar .notifications div .noti-icon {
  color: #333b43 !important;
  font-size: 22px;
}

.sidebar-menu-holder {
  padding-top: 70px !important;
  height: 100%;
  position: fixed;
}

.sidebar-menu-holder .sidebar-menu {
  background: #5d6882;
  height: 100%;
}

.sidebar-menu-holder .sidebar-menu .user-holder {
  background: #485563;
  background: -moz-linear-gradient(left, #485563 0%, #29323c 100%);
  background: -webkit-linear-gradient(left, #485563 0%, #29323c 100%);
  background: linear-gradient(to right, #485563 0%, #29323c 100%);
  width: 100%;
  padding: 10px;
}

.sidebar-menu-holder .sidebar-menu .user-holder .user-dp {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: #fff;
}

.sidebar-menu-holder .sidebar-menu .user-holder .user-name,
.sidebar-menu-holder .sidebar-menu .user-holder .user-email {
  margin-top: -12px;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: -12px;
}

.sidebar-menu-holder .sidebar-menu .user-holder .user-name {
  font-weight: 800;
  font-size: 14px;
}

.sidebar-menu-holder .sidebar-menu .user-holder .user-links {
  padding: 5px;
  border-radius: 5px;
  width: 40px;
  transition: all 0.5s ease;
}

.sidebar-menu-holder .sidebar-menu .user-holder .user-links:hover {
  background: #5d6882;
  color: #333b43 !important;
}

.sidebar-menu-holder .sidebar-menu .menu-container {
  height: 100%;
  overflow-y: scroll;
  padding-bottom: 60px;
}

.sidebar-menu-holder .sidebar-menu .menu-container::-webkit-scrollbar {
  width: 5px;
}

.sidebar-menu-holder .sidebar-menu .menu-container::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.3);
  width: 5px;
}

.sidebar-menu-holder .sidebar-menu .menu-container::-webkit-scrollbar-thumb {
  background: #29323c;
  width: 5px;
}

.sidebar-menu-holder .sidebar-menu .menu-container ul.menu-holder {
  padding-bottom: 100px;
}

.sidebar-menu-holder .sidebar-menu .menu-container ul.menu-holder li {
  text-transform: uppercase;
  color: #29333d;
  border-top: 1px solid #29333d;
  border-bottom: 1px solid #29333d;
  margin-top: -1px;
}

.sidebar-menu-holder .sidebar-menu .menu-container ul.menu-holder li.menu-label {
  font: 800 12px 'Open Sans', sans-serif;
  padding: 7px 15px;
}

.sidebar-menu-holder .sidebar-menu .menu-container ul.menu-holder li.menu-item {
  font: 800 14px 'Open Sans', sans-serif;
  padding: 10px 15px;
  transition: all 0.5s ease;
}

.sidebar-menu-holder .sidebar-menu .menu-container ul.menu-holder li.menu-item i {
  color: #29333d;
  transition: all 0.5s ease;
}

.sidebar-menu-holder .sidebar-menu .menu-container ul.menu-holder li.menu-item.active, .sidebar-menu-holder .sidebar-menu .menu-container ul.menu-holder li.menu-item:hover {
  background: #29323c;
  color: #a1b7eb;
}

.sidebar-menu-holder .sidebar-menu .menu-container ul.menu-holder li.menu-item.active i, .sidebar-menu-holder .sidebar-menu .menu-container ul.menu-holder li.menu-item:hover i {
  color: #a1b7eb;
}

.sidebar-menu-holder .sidebar-menu .menu-container ul.menu-holder li.menu-item .arrow {
  transition: all 0.5s ease;
}

.sidebar-menu-holder .sidebar-menu .menu-container ul.menu-holder li.menu-item .rotate {
  transform: rotate(90deg);
}

.sidebar-menu-holder .sidebar-menu .menu-container ul.menu-holder li.menu-item ul.sub-menu {
  background: #1a2026;
  height: auto;
  left: 0;
  top: 0;
  width: calc( 100% + 30px);
  margin-left: -15px;
  padding: 0px 30px;
}

.sidebar-menu-holder .sidebar-menu .menu-container ul.menu-holder li.menu-item ul.sub-menu li {
  border: none;
  color: #62739a;
  position: relative;
  padding: 5px 20px;
  font: 600 12px 'Open Sans', sans-serif;
  transition: all 0.5s ease;
}

.sidebar-menu-holder .sidebar-menu .menu-container ul.menu-holder li.menu-item ul.sub-menu li:hover {
  color: #a1b6e7;
}

.sidebar-menu-holder .sidebar-menu .menu-container ul.menu-holder li.menu-item ul.sub-menu li:hover::after {
  background: #a1b6e7;
}

.sidebar-menu-holder .sidebar-menu .menu-container ul.menu-holder li.menu-item ul.sub-menu li:first-child {
  padding-top: 20px;
}

.sidebar-menu-holder .sidebar-menu .menu-container ul.menu-holder li.menu-item ul.sub-menu li:first-child::after {
  left: 0;
  top: 70%;
}

.sidebar-menu-holder .sidebar-menu .menu-container ul.menu-holder li.menu-item ul.sub-menu li:last-child {
  padding-bottom: 20px;
}

.sidebar-menu-holder .sidebar-menu .menu-container ul.menu-holder li.menu-item ul.sub-menu li:last-child::after {
  left: 0;
  top: 30%;
}

.sidebar-menu-holder .sidebar-menu .menu-container ul.menu-holder li.menu-item ul.sub-menu li::after {
  content: " ";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  left: 0;
  top: 50%;
  margin-top: -5px;
  background: #29323c;
  position: absolute;
  transition: all 0.5s ease;
}

.sidebar-menu-holder .sidebar-menu .menu-container ul.menu-holder li.menu-item ul.sub-menu li::before {
  content: ' ';
  border-left: 2px solid #29323c;
  height: 100%;
  position: absolute;
  left: 4px;
  top: 0;
}

.sidebar-menu-holder hr {
  background: #29333d;
  border: none;
  height: 1px;
  width: 100%;
  margin: 0;
}

.main-content {
  padding-top: 100px;
}

.panel {
  width: 100%;
  background: #fff;
  border: 1px solid #d5d5d5;
  position: relative;
  margin-bottom: 50px;
}

.panel .panel-header {
  padding: 10px;
  border-bottom: 1px solid #d5d5d5;
}

.panel .panel-header .panel-title {
  font: 600 18px 'Open Sans', sans-serif;
  margin: 0px !important;
  text-transform: uppercase;
}

.panel .panel-header .panel-sub {
  font: 400 12px 'Open Sans', sans-serif;
  text-transform: uppercase;
  line-height: 3%;
}

.panel .panel-content {
  padding: 15px;
}

.panel .panel-footer {
  padding: 5px;
  border-top: 1px solid #d5d5d5;
}

ul.user-timeline li.timeline-item {
  padding-left: 60px;
  position: relative;
  padding-bottom: 20px;
}

ul.user-timeline li.timeline-item[data-color=red]:after {
  background: #bf3939;
}

ul.user-timeline li.timeline-item[data-color=yellow]:after {
  background: #ffdc3d;
}

ul.user-timeline li.timeline-item[data-color=blue]:after {
  background: #5b97d9;
}

ul.user-timeline li.timeline-item .timeline-title {
  font: 400 14px 'Open Sans', sans-serif;
  line-height: 3%;
  padding-top: 20px;
}

ul.user-timeline li.timeline-item .timeline-sub {
  margin-top: -10px;
  font-size: 12px;
}

ul.user-timeline li.timeline-item .timeline-sub small {
  color: #a2a2a2;
  font-size: 10px;
  text-transform: uppercase;
}

ul.user-timeline li.timeline-item .timeline-sub small i {
  color: #a2a2a2;
  margin-right: -5px;
}

ul.user-timeline li.timeline-item .timeline-sub ul.timeline-list.inline {
  margin-left: -10px;
}

ul.user-timeline li.timeline-item .timeline-sub ul.timeline-list.inline li {
  display: inline-block !important;
  overflow: hidden !important;
  width: 100px;
}

ul.user-timeline li.timeline-item .timeline-sub ul.timeline-list.inline li:last-child {
  clear: both;
}

ul.user-timeline li.timeline-item .timeline-sub ul.timeline-list.inline li img {
  max-width: 100%;
  border-radius: 10px;
}

ul.user-timeline li.timeline-item .timeline-sub ul.timeline-list.inline li:after {
  content: ' ' !important;
}

ul.user-timeline li.timeline-item .timeline-sub ul.timeline-list li {
  padding-left: 10px;
  position: relative;
  margin-bottom: -10px;
}

ul.user-timeline li.timeline-item .timeline-sub ul.timeline-list li:after {
  font-family: "entypo";
  text-decoration: none;
  zoom: 1;
  position: absolute;
  left: 0;
  top: 0;
  content: '';
  color: #5b97d9;
}

ul.user-timeline li.timeline-item:after {
  font-family: "entypo";
  text-decoration: none;
  zoom: 1;
  text-align: center;
  padding: 5px 10px;
  position: absolute;
  content: attr(data-content);
  left: 0;
  top: 0;
  height: 30px;
  width: 20px;
  border-radius: 50%;
  background: #000;
  color: #fff;
  font-size: 20px;
}

ul.user-timeline li.timeline-item:before {
  width: 1px;
  height: 100%;
  top: 0;
  content: ' ';
  position: absolute;
  left: 20px;
  background: #d5d5d5;
}

ul.user-timeline li.timeline-item:last-child:before {
  padding-bottom: 20px;
}

/* Table */
table {
  border: none;
}

table tr {
  border: none;
}

table tr td {
  vertical-align: middle;
  border: none;
  padding: 0px 5px;
}

a {
  color: #71a5de;
}

i {
  color: #fff;
}

.notify {
  padding: 3px 5px;
  border-radius: 50%;
  background: #9f1d1d;
  font-size: 9px;
  color: #fff;
}

.cs-label {
  color: #a1a1a1;
  font-size: 14px;
}

.cs-value {
  color: #333b43;
  font-size: 14px;
}

/* Mobile */
@media only screen and (max-width: 768px) {
  .main-content {
    padding: 20px;
  }
  .topbar {
    background: #333b43 !important;
    position: relative;
    z-index: 99;
  }
  .topbar .notif-holder {
    display: none;
  }
  .topbar .logo-holder .mob-menu {
    display: block;
    font-size: 32px;
    margin-top: 10px;
    float: right;
  }
  .topbar .logo-holder .mob-menu.active {
    color: #91a5d4;
  }
  .sidebar-menu-holder {
    position: absolute;
    height: auto;
    top: 0px;
    display: none;
    z-index: 9;
  }
  .sidebar-menu-holder .sidebar-menu {
    height: auto;
    border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  .sidebar-menu-holder .sidebar-menu .menu-container {
    padding-bottom: 0px !important;
  }
  .sidebar-menu-holder .sidebar-menu .menu-container ul.menu-holder {
    padding-bottom: 0px !important;
  }
}
